/Add2Integers.class
/CheckerboardKarel.class
/CollectNewspaperKarel.class
/HelloWorld.class
/MidpointFindingKarel.class
/OurKarelProgram.class
/Problem3.class
/Problem4.class
/StoneMasonKarel.class
/Voter.class
